<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document

	link(rel="stylesheet", href="styles.css")
	link(rel="stylesheet", href="new-style.css")
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


body

	h1 CatClicker Premium

	.controls-wrap
		ul.buttons

	.display-wrap
		h1.catName
		p.catClicks
		img.catImage

	.admin-wrap
		button#admin Admin

		.admin-control
			label Cat Name
			input#admin-cat-name(text) 
			
			label Cat clicks
			input#admin-cat-clicks(text) 		
			
			label Cat Image
			input#admin-cat-image(text) 

			button#cancel Cancel
			button#save Save



	script(src="js/clicks-mvo.js")
