html
head
	meta(charset="UTF-8")
	title Document
	<script src="js/jquery-2.2.1.js"></script>
	// <script src="js/jquery-migrate-1.2.1.min.js"></script>
	link(rel="stylesheet", href="styles.css")
	script(src="js/clicks-mvo.js")
body

	//- .cats-card
	//- 	img.cat(data-cat-no="1" src="img/1.jpg", alt="cat")
	//- .cats-card
	//- 	img.cat(data-cat-no="2" src="img/2.jpg", alt="cat")
	//- .cats-card
	//- 	img.cat(data-cat-no="3" src="img/3.jpg", alt="cat")
	//- .cats-card
	//- 	img.cat(data-cat-no="4" src="img/4.jpg", alt="cat")
	//- .cats-card
	//- 	img.cat(data-cat-no="5" src="img/5.jpg", alt="cat")

	//- p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nihil, optio, odit ipsum dignissimos explicabo aut nam incidunt vel alias? Ipsum ut impedit assumenda, necessitatibus. Iusto nam excepturi reprehenderit, expedita.
	//- //- script(src='script.js')
	//- script(src='js/clicks.js')
	//- //- script(src='alt.js')

	ul.buttons