.admin-wrap button {
  width: 80px;
  height: 30px;
}

.admin-wrap .admin-control {
  display: flex;
  flex-direction: column;
  display: none;
}

.admin-wrap input {
  width: 200px;
  margin-bottom: 20px;
}

.admin-wrap #admin-toggle {
  margin: 20px;
}
