.cats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  margin-right: 30px;
  background-color: skyblue;
}

p {
  margin: auto;
}

.admin-wrap
	display: flex;

.admin-control
	display: block;
	/*flex-direction: column*/